*.class
*.log

.idea/

flows/
!flows/README.md

# sbt specific
.cache
data/
!data/journal/README.md
!data/snapshots/README.md
logs/
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
tmp/
