*{
    margin:0; padding:0; 
}
#cy, #cy2{
    position:absolute; top:20px; left:20px;
}
.qtip.qtip-default{
    max-width: 1000px;
}
.edgeTip{
    width: 600px; min-height:100px; max-height:400px; overflow-y:auto;
}
.taskTitle{
    line-height:30px;
}
.edgeTip ul{
    list-style: none; margin:0; padding:0;
}
.edgeTip>ul.taskList{
    margin-bottom:10px;
}
.edgeTip ul.taskList{
    line-height:24px; border:1px solid gray;
}
.edgeTip ul.taskList>li{
    border-bottom:1px solid gray;
}
.edgeTip ul.taskList>li:last-child{
    border-bottom:none;
}
.edgeTip span.task, .edgeTip .taskItem{
    display:inline-block; *display:inline; zoom:1; vertical-align:middle;
}
.edgeTip span.task{
    width:20%; text-indent:10px; 
}
.edgeTip ul.taskItem{
    width:78%; border-left:1px solid gray;
}
.edgeTip ul.taskItem span.point, .edgeTip ul.taskItem span.pointState{
    display:inline-block; *display:inline; zoom:1; vertical-align:middle;
    text-indent: 10px;
}
.edgeTip ul.taskItem span.point{
    width:70%; border-right:1px solid gray;
}
.edgeTip ul.taskItem span.pointState{
    width:28%; 
}

.edgeTip ul.part.taskList span.part, .edgeTip ul.part.taskList ul.taskList{
    display:inline-block; *display:inline; zoom:1; vertical-align:middle;
}
.edgeTip ul.part.taskList span.part{
    width:10%; text-indent:10px;
}
.edgeTip ul.part.taskList ul.taskList{
    width:79%; border-width:0 0 0 1px;
}