body{
    background:#3c5b78;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}


.manage-flow{
    min-width:1200px;
}

#chart{
    float: left;
    width:600px; height:1000px;
}

#panel-settings {
    float: right;
    width : 400px;
    height: 1000px;

}