<!DOCTYPE html>  <!-- HTML5 document type -->
<html ng-app="chartApp">
<head>
    <link rel="stylesheet" href="lib/angletheme/bootstrap.css">
    <link rel="stylesheet" href="lib/angletheme/app.css">
    <link rel="stylesheet" href="css/jquery.qtip.css"/>
    <link rel="stylesheet" href="css/manageflow.css">

</head>
<body>


<div class="wrapper">
    <!-- Page content-->
    <div class="content-wrapper manage-flow">
        <header><img src="/img/logo.png" alt=""></header>

        <!-- START row-->
        <div class="row">
            <div class="col-md-12">
                <!-- START panel-->
                <div class="panel panel-default">
                    <div class="panel-heading"></div>

                    <div class="panel-body">
                        <div id="chart"></div>

                        <div id="panel-settings" ng-cloak ng-controller="formController as vm">
                            <div class="panel panel-default panel-main" ng-show="vm.selectType === 'node'">
                                <div class="panel-heading"> <h4>已选中节点: {{vm.currentVertex.id || '未选择'}}</h4> </div>

                                <div class="panel-body">
                                    <form class="form-horizontal" name="formNode">
                                        <div class="form-group">
                                            <div class="col-lg-10">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="isNewNode" ng-value="true" ng-model="vm.isNewNode" > 添加新节点
                                                    </label>

                                                    <label>
                                                        <input type="radio" name="isNewNode" ng-value="false" ng-model="vm.isNewNode" > 选择已有节点
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group" ng-if="vm.isNewNode" ng-class="{'has-error' : formNode.vid.$invalid && formNode.vid.$dirty}">
                                            <div class="col-lg-6">
                                                <input type="text" name="vid" placeholder="新节点ID" class="form-control" ng-model="vm.newVertex.id" required minlength="2" maxlength="10">
                                            </div>
                                            <div class="col-lg-6">
                                                <span class="help-block" ng-if="formNode.vid.$error.required">必填!</span>
                                                <span class="help-block" ng-if="formNode.vid.$error.minlength">长度2-10!</span>
                                            </div>
                                        </div>

                                        <div class="form-group" ng-if="vm.isNewNode" ng-class="{'has-error' : formNode.vdesc.$invalid && formNode.vdesc.$dirty}">
                                            <div class="col-lg-6">
                                                <input type="text" name="vdesc" placeholder="新节点简介" class="form-control" ng-model="vm.newVertex.description" required minlength="2" >
                                            </div>
                                            <div class="col-lg-6">
                                                <span class="help-block" ng-if="formNode.vdesc.$error.required">必填!</span>
                                                <span class="help-block" ng-if="formNode.vdesc.$error.minlength">长度要大于2!</span>
                                            </div>
                                        </div>

                                        <div class="form-group" ng-if="!vm.isNewNode">
                                            <div class="col-lg-10">
                                                <select class="form-control m-b"
                                                        ng-options="item.data.id as item.data.id for item in vm.vertices track by item.id" ng-model="vm.newVertex.id"></select>
                                            </div>
                                        </div>

                                        <div class="form-group" ng-class="{'has-error' : formNode.edgeId.$invalid && formNode.edgeId.$dirty}">
                                            <div class="col-lg-6">
                                                <input type="text" name="edgeId" placeholder="节点连线ID" class="form-control" ng-model="vm.newEdge.id" required minlength="2" maxlength="10">
                                            </div>
                                            <div class="col-lg-6">
                                                <span class="help-block" ng-if="formNode.vid.$error.required">必填!</span>
                                                <span class="help-block" ng-if="formNode.vid.$error.minlength">长度2-10!</span>
                                            </div>
                                        </div>


                                        <div class="form-group has-error">
                                            <div class="col-lg-12">
                                                <button type="submit" class="btn btn-sm btn-default" ng-disabled="formNode.$invalid" ng-click="vm.addNewLine(formNode)">保存</button>
                                            </div>
                                            <div class="col-lg-12">
                                                <span class="help-block" ng-if="vm.errorAddNewVertex.notSelected">请选择一个节点!</span>
                                                <span class="help-block" ng-if="vm.errorAddNewVertex.vertexExist">节点ID已存在!</span>
                                                <span class="help-block" ng-if="vm.errorAddNewVertex.edgeExist">连线ID已存在!</span>
                                            </div>
                                        </div>
                                    </form>


                                </div>

                            </div>

                            <div class="panel panel-default panel-main" ng-show="vm.selectType === 'edge'">
                                <div class="panel-heading">已选中线: {{vm.currentEdge.id}}</div>

                                <div class="panel-body">
                                    <form class="form-horizontal">



                                        <div class="form-group">
                                            <div class="col-lg-10">
                                                <input type="text" placeholder="任务名称" class="form-control">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-lg-10">
                                                <input type="text" placeholder="任务类型" class="form-control">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-lg-10">
                                                <button type="submit" class="btn btn-sm btn-default" ng-click="vm.addNewLine()">保存</button>
                                            </div>
                                        </div>
                                    </form>


                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <!-- END panel-->


            </div>
        </div>
        <!-- END row-->
    </div>
</div>





<script src='lib/jquery.js'></script>
<script src='lib/angular/angular.js'></script>

<script src="lib/cytoscape/jquery.qtip.js"></script>
<script src='lib/cytoscape/cytoscape.js'></script>
<script src="lib/cytoscape/cytoscape-qtip.js"></script>
<script src="lib/cytoscape/dagre.js"></script>
<script src="lib/cytoscape/cytoscape-dagre.js"></script>

<script src='js/manageFlowChartClass.js'></script>
<script src='js/manageFlow.js'></script>



</body>
</html>