<!DOCTYPE html>  <!-- HTML5 document type -->
<html ng-app="chartApp">
<head>
    <link rel="stylesheet" href="lib/angletheme/bootstrap.css">
    <link rel="stylesheet" href="lib/angletheme/app.css">
    <link rel="stylesheet" href="css/jquery.qtip.css"/>
    <link rel="stylesheet" href="css/manageflow.css">

</head>
<body>


<div class="wrapper">
    <!-- Page content-->
    <div class="content-wrapper manage-flow">
        <header><img src="/img/logo.png" alt=""></header>

        <!-- START row-->
        <div class="row">
            <div class="col-md-12">
                <!-- START panel-->
                <div class="panel panel-default">
                    <div class="panel-heading"></div>

                    <div class="panel-body">
                        <div id="chart"></div>

                        <div id="panel-settings" ng-controller="formController as vm">
                            <div class="panel panel-default panel-main">
                                <div class="panel-heading">当前选择节点: {{vm.currentVertex.id}}</div>

                                <div class="panel-body">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <div class="col-lg-10">
                                                <input type="text" placeholder="指向新节点" class="form-control">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-5 control-label">选择已有节点:</label>
                                            <div class="col-lg-7">
                                                <select class="form-control m-b"
                                                        ng-options="item as item.id for item in vm.vertices track by item.id" ng-model="vm.newVertex"></select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-lg-10">
                                                <input type="text" placeholder="任务名称" class="form-control">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-lg-10">
                                                <input type="text" placeholder="任务类型" class="form-control">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-lg-10">
                                                <button type="submit" class="btn btn-sm btn-default" ng-click="vm.addNewLine()">保存</button>
                                            </div>
                                        </div>
                                    </form>


                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <!-- END panel-->


            </div>
        </div>
        <!-- END row-->
    </div>
</div>





<script src='lib/jquery.js'></script>
<script src='lib/angular/angular.js'></script>

<script src="lib/cytoscape/jquery.qtip.js"></script>
<script src='lib/cytoscape/cytoscape.js'></script>
<script src="lib/cytoscape/cytoscape-qtip.js"></script>
<script src="lib/cytoscape/dagre.js"></script>
<script src="lib/cytoscape/cytoscape-dagre.js"></script>

<script src='js/manageFlowChartClass.js'></script>
<script src='js/manageFlow.js'></script>



</body>
</html>